@font-face {
    font-family: 'iconfont';  /* project id 1430672 */
    src: url('//at.alicdn.com/t/font_1430672_moryst55ob8.eot');
    src: url('//at.alicdn.com/t/font_1430672_moryst55ob8.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1430672_moryst55ob8.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1430672_moryst55ob8.woff') format('woff'),
    url('//at.alicdn.com/t/font_1430672_moryst55ob8.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1430672_moryst55ob8.svg#iconfont') format('svg');
}
body, input, textarea, select, button {
    font-family: 'PingFangSC', 'helvetica neue', 'hiragino sans gb', 'arial', 'microsoft yahei ui', 'microsoft yahei', 'simsun', 'sans-serif';
}

* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    height: 100%;
    background-color: #fff;
}
header{
    margin-bottom: 10px;
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 1500px) {
    .container {
        width: 1480px;
    }
}

.sidebar-nav {
    padding: 9px 0;
}

.dropdown-menu {
    min-width: 100px;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown-menu {
    margin-top: 0;
}

.dropdown:hover .dropdown-menu {
    color:#fff;
    background-color: #0B73B8;
    display: block;
}

/*----------------------------------------*//*  2.  Header Area CSS/*----------------------------------------*/
.header-area {
    position: relative;
}

.header-top-area {
    border-bottom: 1px solid #ddd;
    background-color: #eee;
    height: 38px;
    line-height: 38px;
    width: 100%;
}

.top-info {
}

.top-info ul {
    margin: 0px;
}

.top-info ul li {
    display: inline-block;
    margin-right: 10px;
}

.top-info ul li:last-child {
    margin-right: 0;
}

.top-info ul li a {
    color: #303133;
    font-size: 14px;
}

.top-info ul li a:hover {
    color: #00c1de;
    cursor: pointer;
    outline: 0;
    text-decoration: none;
}

.top-info ul li a:hover::after
.top-info ul li a:active::after {
    visibility: visible;
    transform: scaleX(1);
}

.top-info ul li a:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 2px;
    background-color: #00c1de;
    visibility: hidden;
    transform: scaleX(0);
    transition: .4s ease-in-out;
}

.top-info ul li a i {
    color: #38c3c7;
    margin-right: 10px;
}

.header-top-right {
    display: flex;
    align-items: center;
}

.site-lang {
    padding-left: 30px;
    display: flex;
    align-items: center;
}

.site-lang ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-lang > ul > li {
    position: relative;
    display: block;
    text-align: left;
    align-content: center;
}

.site-lang ul li a {
    color: #222222;

}

.site-lang ul li img {
    width: 26px;
    height: 26px;
    border-radius: 100%;
    margin-right: 15px;
}

.header-tool {
    line-height: 100px;
    width: 1440px;
    height: 100px;
    background: rgba(255,255,255,1);
}
.col-xs-x {
    margin-right: 10px;
    height: 100px;
    float: left;
    width: 135px;
}
.clo-xs-m {
    float: left;
    line-height: 100px;
    margin-left: 40px;
    width: 404px;
    height: 100px;
    font-size: 14px;
    font-family: PingFangSC-Regular,PingFang SC;
    font-weight: 400;
    color: rgba(11,115,184,1);
}
.clo-xs-m p {

    font-size: 14px;
    font-family: PingFangSC-Regular,PingFang SC;
    font-weight: 400;
    color: rgba(11,115,184,1);
}
.col-xs-r {
    margin-right: 80px;
    margin-top: 30px;
    float: right;
    width: 295px;
    height: 36px;
    background: rgba(246,246,246,1);
    border-radius: 18px;
}
/********nav-menu***********/
.width-min500 {
    min-width: 500px;

}
fieldset{padding: .35em .625em .75em;margin: 0 2px;border: 1px solid silver}
legend{padding: .5em;border: 0;width: auto}
blockquote{
    border-left-color: #0B73B8;
}
.dropdown-menu>li>a {
    color: white;
}
.menu .dropdown-menu >li > a {
    font-size: 16px;
    line-height: 38px;
    height: 38px;
}

.dropdown-menu blockquote{
    padding: 0px 5px;
    margin: auto!important;
    border-top: 1px solid  #0b72b8;
    border-bottom: 1px solid  #0b72b8;
    font-size: 15px;
}
.footer{
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #333333;
}
.footer p {
    text-align: center;
    font-size: 14px;
    color: #FFFFFF;
}
.footer p a{
    color:#fff;
}
@media screen and (min-width: 768px) {
    #sideMenu{display:none;}

    .nav-menu {
        background-color: #0b72b8;
    }

    .pc-show {
        margin:0 auto;
        display: block;
    }

    .mobile-show {
        display: none;
    }

    .nav-menu .menu {
        height: 48px;
        line-height: 48px;
        list-style: none;
        margin: 0px;
    }


    .nav-menu .menu > li {
        float: left;
        /*overflow: hidden;*/
        font-size: 18px;
        text-align: center;
        cursor: pointer;
        align-content: center;
        padding-top: auto !important;
        padding-left: 15px;
        padding-right: 15px;

    }

    .nav-menu .menu >li >a, .nav-menu .menu >li > a:link {
        width: 64px;
    height: 22px;
    font-size: 16px;
    font-family: PingFangSC-Regular,PingFang SC;
    font-weight: 400;
    color: rgba(255,255,255,0.85);
    }

    .nav-menu .menu > li:hover {
        background-color: #55a7e3;
        visibility: visible;
    }

    .website_search input {
        float: left;
    }

    .website_search input {
        float: left;
    }
    .navsub {
        list-style: none;height: auto!important;
    }
    .navsub >li >a,.navsub >li >a:link{
        /*border:0px;*/
        color: #fff;
        cursor: pointer;
        text-decoration: none;
       /* padding: 3px 20px;*/
       text-align:center;
        font-size: 14px;
        display:block;
        height: 38px;
        line-height: 38px;
    }
    .navsub > li {

    width: 32%;
    float: left;
    color: #222222;
    height: 38px;
    line-height: 38px;
        margin-bottom: 4px;
    margin-right: -1px;
        background:rgba(255,255,255,0.16);
       /* background-image: linear-gradient(to bottom,#0088cc,#0077b3);*/
        border-radius:4px;
        margin:2px 2px;
    }
    .navsub > li:hover>a,.navsub > li> a:focus,.navsub > li:hover,.menu .dropdown-menu > li:hover>a,.menu .dropdown-menu  > li> a:focus{
        background:rgba(255,255,255,0.32);
        /*background-image: linear-gradient(to bottom,#0088cc,#0077b3);*/
        color: #FFFFFF;
        background-repeat: repeat-x;
        text-decoration: none;
        display:block;
        height: 38px;
        line-height: 38px;
    }
}

@media screen and (max-width: 768px) {
    .nav-mobile-menu {
        display: block;
        height: 48px;
        line-height: 48px;
        background-color: #0b72b8;
        color: #f5f5f5;
        font-size: 18px;
    }

    .nav-mobile-menu a i {
        color: #f5f5f5;
        font-size: 20px;
    }

    .pc-show {
        display: none;
    }

    .mobile-show {
        display: block;
    }
}
/********é¦–é¡µ*********/
.btn-success {
    width: 88px;
    height: 36px;
    color: #fff;
    background-color: #0B73B8;
    border-color: #0B73B8;
}
.btn-default {
    width:88px;
height:36px;
      color: #fff;
    background-color: #0B73B8;
    border-color: #0B73B8;
}
.btn-danger {
   width:88px;
height:36px;
background:rgba(218,83,80,1);
border-radius:4px;
}
.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
.btn-primary {
    height:36px;
background:rgba(93,184,93,1);
border-radius:4px;
border-color:rgba(93,184,93,1);
}
.btn-primaryr {
    height:36px;
    color: #fff;
background:rgba(93,184,93,1);
border-radius:4px;
border-color:rgba(93,184,93,1);
}
.tools p label {
    padding: 10px 0 0;}
/********ä¾§è¾¹æ ********/
.bootsidemenu {
    z-index: 999999;
    position: fixed;
    top: -1px;
    bottom: -1px;
    padding: 0;
    height: 100%;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    /*border: 1px solid rgba(0, 0, 0, .15);*/
    /*-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);*/
    /*box-shadow: 0 6px 12px rgba(0, 0, 0, .175);*/
    display: none;
}

.bootsidemenu .logo-Title {
    height: 48px;
    line-height: 48px;
    color: #222222;
    font-size: 18px;
    background-color: #FFFFFF;
}

.bootsidemenu > .menu-wrapper {
    padding: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    overflow: auto;
    width: 100%;
}

.bootsidemenu > .row {
    margin: 0;
}

.bootsidemenu {
    /*width: auto;*/
    min-width: unset;
}

.bootsidemenu.bootsidemenu-left {
    left: 0;
    right: auto; /*20px;*/
}

.bootsidemenu.bootsidemenu-right {
    right: 0;
    left: auto; /*20px;*/
}

.toggler {
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    width: 20px;
    height: 48px;
    position: absolute;
    top: 47%;
    cursor: pointer;
    background-color: #fff;
}

.bootsidemenu-left > .toggler {
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: 1px solid #fff;
    -webkit-box-shadow: 1px 0 8px rgba(0, 0, 0, .175);
    box-shadow: 1px 0 8px rgba(0, 0, 0, .175);
    right: -20px;
}

.bootsidemenu-left > .toggler > span {
    margin: 15px 2px;
}

.bootsidemenu-right > .toggler {
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: 1px solid #fff;
    /*-webkit-box-shadow: -1px 0 8px rgba(0, 0, 0, .175);*/
    /*box-shadow: -1px 0 8px rgba(0, 0, 0, .175);*/
    left: -20px;
}

.bootsidemenu-right > .toggler > span {
    margin: 15px 2px;
}

/*Native BootStrap Hack  , .bootsidemenu*/
/*.bootsidemenu .list-group {*/
/*    background-color: transparent;*/
/*}*/

.bootsidemenu .list-group-item:last-child, .bootsidemenu .list-group-item:first-child {
    border-radius: 0;
}

.bootsidemenu .list-group {
    margin-bottom: 0;
}

.bootsidemenu .list-group-item {
    border: 1px solid #DDD;
    border-left: 0;
    border-right: 0;
    margin-bottom: 0;
    margin-top: -1px;
}

.list-group .collapse a, .list-group .collapsing a {
    padding-left: 25px;
}

.list-group-item .icon {
    margin-right: 5px;
}

/*==========  Media queries for test ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    .bootsidemenu {
        min-width: 200px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    .bootsidemenu {
        max-width: 80%;
    }
}


/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {

}

/*========== Theme Default ==========*/
.default {
    background-color: #FFFFFF;
    color: #555555;
}

.default .toggler {
    background-color: #FFFFFF;
}

.default a,
.default a:hover,
.default a:visited {
    color: #337ab7;
}

.default.bootsidemenu-left,
.default.bootsidemenu-right,
.default.bootsidemenu-left > .toggler,
.default.bootsidemenu-right > .toggler {
    border-color: rgba(0, 0, 0, .15);
}

.default.bootsidemenu-right > .toggler {
    border-right: 0;
}

.default.bootsidemenu-left > .toggler {
    border-left: 0;
}

.default .list-group-item.active,
.default .list-group-item.active:focus,
.default .list-group-item.active:hover,
.default .item.active:focus {
    color: #FFFFFF;
    background-color: #337ab7;
    border-color: #337ab7;
}

.default a.list-group-item {
    color: #555555;
}

.default a.list-group-item:focus,
.default a.list-group-item:hover,
.default button.list-group-item:focus,
.default button.list-group-item:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #337ab7;
    border-color: #337ab7;
}

/*========== Theme Default ==========*/


.fixed-btn {
    position: fixed;
    right: 1%;
    bottom: 5%;
    width: 40px;
    border: 1px solid #eee;
    background-color: white;
    font-size: 24px;
    z-index: 1040;
    -webkit-backface-visibility: hidden
}

.fixed-btn a {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration:none;
}

.fixed-btn a:after {
    content: ".";
    font-size: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle
}

.fixed-btn a i {
    vertical-align: middle
}

.fixed-btn .go-top {
    border-bottom: 1px solid #eee
}

.fixed-btn .writer {
    background-color: #0b72b8;
    font-size: 18px;
    color: white
}

.fixed-btn .hide-go-top {
    display: none;
    opacity: 0;
    filter: alpha(opacity=0)
}

/*****************ListNav Style******************/
.card-container {
    margin-right: 15px;
    padding: 12px;
    border: 1px solid #c5d8db;
    transition: all .5s cubic-bezier(.4,0,.2,1);
}
.card-container:hover{
    border-color: #009688;
    /*transform: scaleY(1.08);*/
}
.list-row {
    background: #fff;
    padding-bottom: 15px;
    margin-top: 10px;
    border-radius: 4px;
}
.list-tool {
    margin: 0px auto;
    color: #bbb;
    border-radius: 4px;
    transition: all .5s cubic-bezier(.4,0,.2,1);
    padding: 6px;
    background-clip: padding-box;
}

.media h4 a {
    word-break:keep-all;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    font-size:16px;
    color:#333;

}
.media{
    border: 1px solid #c5d8db;
    padding: 10px;
    /*cursor: pointer ;*/
    height:120px;
}
.media:hover{
    border-color: #0b72b8;
    /*transform: scaleY(1.08);*/
}
.media-body span {
    display: block;
    max-width: 12em;

    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.media-body >.media-header {
    float: left;
    width: 25%;
}
.media-body >.media-content{
    float: left;
    width: 75%;
}
.media-body >.media-header >i{
    font-size: 45px;
    color: #0b72b8;
    font-weight:initial;
}
.list-tool .content{
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
    color: #999;
    margin: 5px auto;

}

.list-tool .media-body {
    font-weight: bold;
    color: #666;
    text-align: left;
}
.list-row h3 {
    font-size:18px;
}
.list-tool img{
    width: 48px;
    height:  48px;
}
/*.tools{*/
/*    margin-top: 10px;*/
/*}*/
.tools blockquote{
    margin: 0px;
    padding: 5px 10px;
}
.hidden_K{
    display:none!important
}

.fl {
    float: left;
    display: inline-block;
}

.margin10 {
    margin-left: 10px;
}

.autohide {
    display: none !important;
}
.wt65 {
    width: 65px;
}
.wt55 {
    width: 55px;
}

.wt200 {
    width: 200px;
}

.span {
    min-height: 1em;
    display: inline;
    line-height: 2em;
}
.fontcolor{
    color: #FFFFFF;
    background-color: #337ab7;
    border-color: #337ab7;
}
.input-group{
    margin-bottom: 10px;
}

.input-group-addon{
    background-color: #0b72b8;
    color: #fff;
}
.titcolor{ background-color:#f5f5f5;}

.banner-img {
    margin: 0 auto;
    margin-bottom: 5px;
}
